* {
  font-family: "Orbitron", sans-serif;
  color:white;
  background-color: rgb(37, 51, 58);
  }

header {
  margin: auto;
  margin-top: 0;
  margin-left: 5px;
  border-bottom: 2px solid white;
  text-align: left;
}

body {
  text-align: center;
}

ul {
  list-style: none;
}

button {
  background-color: rgb(14, 146, 93);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  margin-left: -30vh;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  /* display: none; */
}

button:hover {
  border-bottom:5px solid white;
  transition: 0.2s;
}